name: Gitee_Mirror

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Gitee_Mirror
      uses: Yikun/hub-mirror-action@master
      with:
        src: github/hkyya
        dst: gitee/hkyya
        dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
        dst_token:  ${{ secrets.GITEE_TOKEN }}
        account_type: user
        clone_style: "https"
        debug: true
        force_update: true
        static_list: "qljb"
        timeout: "60m"